<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Content</title>
<body style="background-color: aliceblue;background-size: cover;background-repeat: no-repeat;">
    <h1>Add New Content</h1>
    <div style="position: absolute; top: 10px; right: 20px; font-weight: bold;">
    Logged in as: {{ session['username'] }} |
    <a href="/logout" style="color: red; text-decoration: none;">Logout</a>
</div>

    <form style="font-size: 20px;" action="/add" method="post" onsubmit="return screen.confirm('Data added successfully')">
        <!--html file to add data-->
       <label>Id:</label><br><input type="text" name="_id" placeholder="{{tasks._id}}"><br><br>
        <label></label>Content:</label><br><input type="text" name="content" placeholder="Enter Content" required><br><br>
        <label>Company:</label><br><input type="text" name="company" placeholder="Enter Company" required><br><br>
        <label>Email:</label><br><input type="text" name="email" placeholder="Enter Email" required><br><br>
        <label>Name:</label><br><input type="text" name="name" placeholder="Enter Name" required><br><br>
        <label>Notice Period:</label><br><input type="integer" name="notice_period" placeholder="Enter Notice Period" required><br><br>
        <label>Salary:</label><br><input type="integer" name="salary" placeholder="Enter Salary" required><br><br>
        <button style="color: green; font-size: 25px;" type="submit" ><b>Add Content</b></button>
    </form>
</head>
</body>
</html>