<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body style="background-image: url('/static/images/login_image1.png'); background-size: cover; background-repeat: no-repeat;text-align: center;font-size: 30px;margin-top: 200px;justify-content: center;align-items: center;">
    <h2>Forgot Password</h2>
    <form method="post">
        <label>Enter your username:</label>
        <input type="text" name="username" placeholder="Enter your username" style="width: 300px; height: 30px;">
        <br><br>
        <button type="submit">Reset Password</button>
        <p>Status: {{ message }}</p>
    </form>
</body>
</html>