<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body style="background-image: url('/static/images/login_image1.png'); background-size: cover; background-repeat: no-repeat;">
    <div style="text-align:center;font-size: 30px; margin-top: 200px; justify-content: center;align-items: center;">
    <h2>Login</h2>
    <form method="POST">
        <div>
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter your username" style="width: 300px; height: 30px;" required>
        </div><br>
        <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter your password" style="width: 300px; height: 30px;" required>
        </div><br>
        <div>
        <input type="submit" value="Login" style="width: 100px; height: 30px;font-size: 20px;">
        </div>
        <a href="/forgot-password" style="text-decoration: none; font-size: 20px;">Forgot Password?</a>
    </form>
    </div>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>
</html>
