<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body style="background-image: url('/static/images/login_image1.png'); background-size: cover; background-repeat: no-repeat;text-align: center;font-size: 30px;margin-top: 200px;justify-content: center;align-items: center;">
    <h2>Reset Password</h2>
    <form method="post">
        <label>New Password:</label>
        <input type="password" name="new_password" placeholder="Enter new password" style="width: 300px; height: 30px;" required>
        <label>Confirm Password:</label>
        <input type="password" name="confirm_password" placeholder="Re-enter to confirm new password" style="width: 300px; height: 30px;" required>
        <br><br>
        <div>
        <button type="submit" style="width: 100px; height: 30px; font-size: 20px;">Submit</button>
        </div>
        <p>Status: {{ message }}</p>
    </form>
</body>
</html>